
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}
section > nav {
    position: sticky;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
nav:hover {
    background-color: aqua;
    transition: all 1s;
}
body > footer {
    background-color: blueviolet;
    display:flex;
    justify-content: space-around;
    padding: 1rem;
    /*shouldnt this make it turn into a row*/
}



section > div > h1 {
    display: flex;
    padding:1rem;
    justify-content:space-around;
    text-align: center;
}



article.about {
    display: flex;
    justify-content: flex-end;
} 

/* CSS portion of my landing page better overall? START SLOW */
/*media query to make it viewable on mobile devices! */
/*my footer needs to be a row not a column why is my flex being weird? JCAI */